<a href="https://colab.research.google.com/github/Edivaldo16/projeto_etl/blob/main/Limpeza_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Limpeza de dados - Parte 1

In [1]:
import pandas as pd

In [ ]:
!pip install pandera

In [3]:
import pandera as pa

In [4]:
# Importando arquivos diretamente do computador
from google.colab import files
arq = files.upload()

Saving Ocorrencia_mod2.csv to Ocorrencia_mod2.csv

In [7]:
df = pd.read_csv('Ocorrencia_mod2.csv', sep = ";", parse_dates=['ocorrencia_dia'], dayfirst = True, encoding='latin-1')
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [8]:
# Localizar um determinado elemento da lista: df.loc[linha,coluna]
df.loc[1,'ocorrencia_cidade']

'BELÉM'

In [9]:
# Visualizar dados da linha 1 até a linha 3
df.loc[1:3]

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0

[3 rows x 9 columns]

In [10]:
# Visualizar dados das linhas 10 e 40
df.loc[[10,40]]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
10              39789               39789  ...        21:30:00                   0
40              39158               39158  ...        16:00:00                   0

[2 rows x 9 columns]

In [18]:
# Visualizar dados das colunas ocorrencia_classificacao e ocorrencia_cidade 
df.loc[:,['ocorrencia_classificacao', 'ocorrencia_cidade']]

     ocorrencia_classificacao   ocorrencia_cidade
0                   INCIDENTE      RIO DE JANEIRO
1                   INCIDENTE               BELÉM
2                   INCIDENTE      RIO DE JANEIRO
3                    ACIDENTE  LUCAS DO RIO VERDE
4                   INCIDENTE             PELOTAS
...                       ...                 ...
6109                INCIDENTE              RECIFE
6110                INCIDENTE         PORTO VELHO
6111                INCIDENTE               BELÉM
6112                 ACIDENTE          DOM AQUINO
6113                INCIDENTE            CAMPINAS

[6114 rows x 2 columns]