<a href="https://colab.research.google.com/github/Edivaldo16/projeto_etl/blob/main/Transformacao_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Transformação de dados - Parte 1

In [1]:
import pandas as pd

In [ ]:
!pip install pandera

In [3]:
import pandera as pa

In [5]:
# Importando arquivos diretamente do computador
from google.colab import files
arq = files.upload()

Saving Ocorrencia_mod2.csv to Ocorrencia_mod2.csv

In [6]:
valores_ausentes = ['**','###!','####','****','*****','NULL']

In [7]:
df = pd.read_csv('Ocorrencia_mod2.csv', sep = ";", parse_dates=['ocorrencia_dia'], dayfirst = True, na_values = valores_ausentes, encoding='latin-1')
# na_values: Usado para substituir os valores das variáveis por NA

In [ ]:
df.head(10)

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0
5              39807               39807  ...        17:53:00                   0
6              40215               40215  ...        18:40:00                   0
7              39707               39707  ...        12:30:00                   3
8              39156               39156  ...        23:15:00                   2
9              39711               39711  ...        20:00:00                   0

[10 rows x 9 columns]

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo":pa.Column(pa.Int,required=False),
        # Estou informando para a função ignorar essa coluna, já que ela não 
        # existe no arquivo. Serve também, caso eu queira excluir alguma coluna.
        # Por "default" required = True
        "codigo_ocorrencia":pa.Column(pa.Int),
        "codigo_ocorrencia2":pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),
        "ocorrencia_cidade":pa.Column(pa.String),
        "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True), # Agora a coluna "ocorrencia_uf" poderá receber dados nulos
        # Informando o dado mínimo e máximo que vem na coluna
        "ocorrencia_aerodromo":pa.Column(pa.String, nullable=True), # Agora a coluna "ocorrencia_uf" poderá receber dados nulos
        "ocorrencia_dia":pa.Column(pa.DateTime),
        "ocorrencia_hora":pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable = True),
        # Uma forma para fazer tratamento na coluna 'ocorrencia_hora'
        "ocorrencia_hora":pa.Column(pa.String, nullable = True),
        "total_recomendacoes":pa.Column(pa.Int)
    }
)

In [ ]:
schema.validate(df)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
6110              80247  ...                    0
6111              80251  ...                    0
6112              80257  ...                    0
6113              80259  ...                    0
6114              80259  ...                    0

[6115 rows x 9 columns]

In [ ]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

## Usando comando 'iloc'

In [ ]:
# Observações:
# df.loc[label] Conceito label
# df.iloc[índice] Conceito índice (Aceita valores negativos e o "range" sempre é menos 1)

df.iloc[10:12]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
10              39789               39789  ...        21:30:00                   0
11              40069               40069  ...        14:50:00                   8

[2 rows x 9 columns]

## Localizando dados de uma coluna

In [ ]:
df.loc[:,'ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
6110    RO
6111    PA
6112    MT
6113    SP
6114    SP
Name: ocorrencia_uf, Length: 6115, dtype: object

## Verificação dos valores nulos

In [ ]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2456
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [ ]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2456
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [ ]:
df.ocorrencia_uf.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
6110    False
6111    False
6112    False
6113    False
6114    False
Name: ocorrencia_uf, Length: 6115, dtype: bool

In [ ]:
filtro = df.ocorrencia_uf.isnull() # Onde é que valor "nulo" na coluna "ocorrencia_uf"
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
2227              49474  ...                    0
5855              79956  ...                    0

[2 rows x 9 columns]

In [ ]:
df.count()

codigo_ocorrencia           6115
codigo_ocorrencia2          6115
ocorrencia_classificacao    6115
ocorrencia_cidade           6115
ocorrencia_uf               6113
ocorrencia_aerodromo        3659
ocorrencia_dia              6115
ocorrencia_hora             6114
total_recomendacoes         6115
dtype: int64

## Filtros

In [ ]:
# Ocorrências com mais de 10 recomendações

filtro = df.total_recomendacoes > 10
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
63                39992  ...                   11
326               42250  ...                   19
530               43471  ...                   11
727               44377  ...                   11
872               44796  ...                   23
884               44888  ...                   11
1062              45554  ...                   20
1972              47938  ...                   11
2797              52265  ...                   13
3932              66432  ...                   12

[10 rows x 9 columns]

In [ ]:
# Ocorrências com mais de 10 recomendações na coluna "ocorrencia_cidade"

filtro = df.total_recomendacoes > 10
# df.loc[filtro,'ocorrencia_cidade'] # Só aparece as informações sem ser no fortato tabela
df.loc[filtro,['ocorrencia_cidade','total_recomendacoes']] # Quando colocasse a coluna entre [], os valores 
# aprecem em formato de tabela

         ocorrencia_cidade  total_recomendacoes
63               SÃO PAULO                   11
326         RIO DE JANEIRO                   19
530              SÃO PAULO                   11
727               ITÁPOLIS                   11
872                 RECIFE                   23
884   SÃO JOSÉ DOS PINHAIS                   11
1062            UBERLÂNDIA                   20
1972              BRASÍLIA                   11
2797                SANTOS                   13
3932               VITÓRIA                   12

In [ ]:
# Ocorrências cuja classificação == INCIDENTE GRAVE

filtro = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
df.loc[filtro, ['ocorrencia_cidade','total_recomendacoes']]

     ocorrencia_cidade  total_recomendacoes
7             CANUTAMA                    3
8             CASCAVEL                    2
9        PARÁ DE MINAS                    0
29            CURITIBA                    2
35              PALMAS                    0
...                ...                  ...
6090             MARAÚ                    0
6095   ELDORADO DO SUL                    0
6097     CAXIAS DO SUL                    0
6098   CHAPADÃO DO SUL                    0
6104       VOTUPORANGA                    0

[791 rows x 2 columns]

In [ ]:
# Imprimindo todas as colunas baseadas no filtro acima:

df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
8                 39156  ...                    2
9                 39711  ...                    0
29                39709  ...                    2
35                39487  ...                    0
...                 ...  ...                  ...
6090              80221  ...                    0
6095              80228  ...                    0
6097              80231  ...                    0
6098              80248  ...                    0
6104              80238  ...                    0

[791 rows x 9 columns]

In [ ]:
# Ocorrências cuja classificação == INCIDENTE GRAVE e o estado SP

filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
136               40270  ...                    0
171               40620  ...                    0
219               41411  ...                    2
297               42289  ...                    0
314               42323  ...                    0
...                 ...  ...                  ...
5949              80056  ...                    0
6000              80114  ...                    0
6007              80124  ...                    0
6081              80200  ...                    0
6104              80238  ...                    0

[145 rows x 9 columns]

In [ ]:
# Ocorrências cuja classificação == INCIDENTE GRAVE ou estado SP

filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 | filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
8                 39156  ...                    2
9                 39711  ...                    0
11                40069  ...                    8
16                39809  ...                    0
...                 ...  ...                  ...
6098              80248  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0
6113              80259  ...                    0
6114              80259  ...                    0

[2111 rows x 9 columns]

In [ ]:
# Ocorrências cuja classificação == INCIDENTE GRAVE ou classificação == INCIDENTE e o estado SP - Forma 1
# Se digitar sem os parêntesis vai dar errado pq o programa precisa entender a prioridades das operações
filtro1 = (df.ocorrencia_classificacao == 'INCIDENTE GRAVE') | (df.ocorrencia_classificacao == 'INCIDENTE')
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
16                39809  ...                    0
18                39828  ...                    0
26                39847  ...                    0
27                39768  ...                    0
33                39848  ...                    0
...                 ...  ...                  ...
6085              80208  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0
6113              80259  ...                    0
6114              80259  ...                    0

[1059 rows x 9 columns]

In [ ]:
# Ocorrências cuja classificação == INCIDENTE GRAVE ou classificação == INCIDENTE e o estado SP - Forma 2

filtro1 = df.ocorrencia_classificacao.isin(['INCIDENTE GRAVE','INCIDENTE']) 
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
16                39809  ...                    0
18                39828  ...                    0
26                39847  ...                    0
27                39768  ...                    0
33                39848  ...                    0
...                 ...  ...                  ...
6085              80208  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0
6113              80259  ...                    0
6114              80259  ...                    0

[1059 rows x 9 columns]

In [ ]:
# Ocorrências cujas cidades começam com a letra "c"

filtro = df.ocorrencia_cidade.str[0] == 'C'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
6                 40215  ...                    0
7                 39707  ...                    3
8                 39156  ...                    2
15                39315  ...                    0
20                40310  ...                    0
...                 ...  ...                  ...
6097              80231  ...                    0
6098              80248  ...                    0
6100              80235  ...                    0
6113              80259  ...                    0
6114              80259  ...                    0

[896 rows x 9 columns]

In [ ]:
# Ocorrências cujas cidades terminam com a letra "a"

filtro = df.ocorrencia_cidade.str[-1] == 'A'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
12                40414  ...                    0
15                39315  ...                    0
25                39772  ...                    0
26                39847  ...                    0
...                 ...  ...                  ...
6093              80227  ...                    0
6094              80225  ...                    0
6102              80240  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0

[1642 rows x 9 columns]

In [ ]:
# Ocorrências cujas cidades terminam com os caracteres "MA"

filtro = df.ocorrencia_cidade.str[-2:] == 'MA' # Do penúltimo em diante "MA"
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
15                39315  ...                    0
408               43062  ...                    1
688               44198  ...                    0
1035              51785  ...                    0
1377              45939  ...                    0
1401              46180  ...                    0
2099              49113  ...                    4
2102              48799  ...                    0
2646              80059  ...                    0
2657              51347  ...                    0
2857              52340  ...                    1
2968              52832  ...                    0
2999              52979  ...                    0
3042              52984  ...                    0
3094              53596  ...                    0
3159              53223  ...                    0
3173              53265  ...                    2
3191              53271  ...                    0
3684              65414  ...                    1
3727              65633  ...                    0
3883              66265  ...                    0
4231              77371  ...                    1
4313              77612  ...                    0
4576              78080  ...                    0
4987              78867  ...                    0
5071              78923  ...                    0
5081              78782  ...                    0
5406              79282  ...                    0
5441              79338  ...                    0
5475              79400  ...                    0
5759              79823  ...                    0
5776              79820  ...                    0
5778              79830  ...                    0
5861              79943  ...                    0
6093              80227  ...                    0

[36 rows x 9 columns]

In [ ]:
# Ocorrências cujas cidades contem com os caracteres "MA"

filtro = df.ocorrencia_cidade.str.contains('MA') # Onde tiver "MA", independente da posição, imprima
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
13                39507  ...                    2
15                39315  ...                    0
35                39487  ...                    0
78                39916  ...                    2
...                 ...  ...                  ...
6075              80205  ...                    0
6086              80212  ...                    0
6090              80221  ...                    0
6093              80227  ...                    0
6106              80249  ...                    0

[514 rows x 9 columns]

In [ ]:
# Ocorrências cujas cidades contem com os caracteres "MA" ou "AL"

filtro = df.ocorrencia_cidade.str.contains('MA|AL') # Onde tiver "MA", independente da posição, imprima
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
5                 39807  ...                    0
7                 39707  ...                    3
13                39507  ...                    2
15                39315  ...                    0
17                39810  ...                    0
...                 ...  ...                  ...
6075              80205  ...                    0
6086              80212  ...                    0
6090              80221  ...                    0
6093              80227  ...                    0
6106              80249  ...                    0

[954 rows x 9 columns]

In [ ]:
# Ocorrências do ano de 2015

filtro = df.ocorrencia_dia.dt.year == 2015
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
2998              52992  ...                    3
2999              52979  ...                    0
3000              53073  ...                    0
3001              53074  ...                    0
3002              52976  ...                    6
...                 ...  ...                  ...
3464              60632  ...                    0
3465              60600  ...                    0
3466              60642  ...                    0
3467              60631  ...                    2
3468              60649  ...                    0

[471 rows x 9 columns]

In [ ]:
# Ocorrências do ano de 2015 e mês 12 - Forma 1

filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 12
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
3430              53573  ...                    0
3431              60601  ...                    0
3432              53634  ...                    0
3433              53636  ...                    0
3434              53575  ...                    0
3435              60637  ...                    0
3436              53625  ...                    3
3437              53626  ...                    1
3438              53628  ...                    1
3439              53629  ...                    0
3440              53631  ...                    0
3441              60636  ...                    0
3442              53627  ...                    0
3443              60604  ...                    0
3444              60611  ...                    0
3445              60613  ...                    0
3446              60629  ...                    0
3447              53630  ...                    0
3448              60603  ...                    0
3449              60612  ...                    0
3450              60783  ...                    3
3451              53639  ...                    0
3452              60609  ...                    0
3453              60616  ...                    0
3454              60620  ...                    4
3455              60645  ...                    0
3456              60608  ...                    0
3457              60625  ...                    1
3458              60605  ...                    0
3459              60610  ...                    0
3460              60602  ...                    0
3461              60615  ...                    0
3462              60640  ...                    0
3463              60641  ...                    0
3464              60632  ...                    0
3465              60600  ...                    0
3466              60642  ...                    0
3467              60631  ...                    2
3468              60649  ...                    0

[39 rows x 9 columns]

In [ ]:
# Ocorrências do ano de 2015 e mês 12 - Forma 2

filtro = (df.ocorrencia_dia.dt.year == 2015) & (df.ocorrencia_dia.dt.month == 12)
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
3430              53573  ...                    0
3431              60601  ...                    0
3432              53634  ...                    0
3433              53636  ...                    0
3434              53575  ...                    0
3435              60637  ...                    0
3436              53625  ...                    3
3437              53626  ...                    1
3438              53628  ...                    1
3439              53629  ...                    0
3440              53631  ...                    0
3441              60636  ...                    0
3442              53627  ...                    0
3443              60604  ...                    0
3444              60611  ...                    0
3445              60613  ...                    0
3446              60629  ...                    0
3447              53630  ...                    0
3448              60603  ...                    0
3449              60612  ...                    0
3450              60783  ...                    3
3451              53639  ...                    0
3452              60609  ...                    0
3453              60616  ...                    0
3454              60620  ...                    4
3455              60645  ...                    0
3456              60608  ...                    0
3457              60625  ...                    1
3458              60605  ...                    0
3459              60610  ...                    0
3460              60602  ...                    0
3461              60615  ...                    0
3462              60640  ...                    0
3463              60641  ...                    0
3464              60632  ...                    0
3465              60600  ...                    0
3466              60642  ...                    0
3467              60631  ...                    2
3468              60649  ...                    0

[39 rows x 9 columns]

In [ ]:
# Ocorrências do ano de 2015, mês 12 e dia 8

filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 12
filtro3 = df.ocorrencia_dia.dt.day == 8

df.loc[filtro1 & filtro2 & filtro3]

      codigo_ocorrencia  ...  total_recomendacoes
3438              53628  ...                    1
3439              53629  ...                    0
3440              53631  ...                    0
3441              60636  ...                    0

[4 rows x 9 columns]

In [ ]:
# Ocorrências do ano de 2015, mês 12 e dos dias 3 a 8

filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 12
filtro3 = df.ocorrencia_dia.dt.day >= 3  
filtro4 = df.ocorrencia_dia.dt.day <= 8
df.loc[filtro1 & filtro2 & filtro3 & filtro4]

      codigo_ocorrencia  ...  total_recomendacoes
3434              53575  ...                    0
3435              60637  ...                    0
3436              53625  ...                    3
3437              53626  ...                    1
3438              53628  ...                    1
3439              53629  ...                    0
3440              53631  ...                    0
3441              60636  ...                    0

[8 rows x 9 columns]

In [ ]:
df['ocorrencia_dia_hora'] = pd.to_datetime(df.ocorrencia_dia.astype(str) + ' ' + df.ocorrencia_hora)
# Primeiro concatenei o dia e a hora sendo que tive que transformar dia em str para poder concatenar
# Daí, para trabalhar com a coluna "ocorrencia_dia_hora" como uma "data" usei a expressão "pd.to_datetime()"

In [ ]:
filtro1 = df.ocorrencia_dia_hora >= '2015-12-03 11:00:00'
filtro2 = df.ocorrencia_dia_hora <= '2015-12-08 13:00:00'
df[filtro1 & filtro2]

      codigo_ocorrencia  ...  ocorrencia_dia_hora
3435              60637  ...  2015-12-03 16:47:00
3436              53625  ...  2015-12-06 13:10:00
3437              53626  ...  2015-12-06 15:00:00
3439              53629  ...  2015-12-08 10:20:00
3441              60636  ...  2015-12-08 13:00:00

[5 rows x 10 columns]

## Agrupamento de Dados

In [ ]:
# Ocorrências do ano de 2015 e mês 03

filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 3

df201503 = df.loc[filtro1 & filtro2]
df201503

      codigo_ocorrencia  ...  ocorrencia_dia_hora
3088              53183  ...  2015-03-02 23:00:00
3089              53120  ...  2015-03-04 13:30:00
3090              53109  ...  2015-03-05 13:50:00
3091              53112  ...  2015-03-06 21:00:00
3092              53152  ...  2015-03-10 11:30:00
3093              53167  ...  2015-03-10 17:33:00
3094              53596  ...  2015-03-10 21:35:00
3095              53149  ...  2015-03-11 23:25:00
3096              53148  ...  2015-03-12 12:40:00
3097              53153  ...  2015-03-13 15:45:00
3098              53154  ...  2015-03-13 14:40:00
3099              53238  ...  2015-03-13 11:30:00
3100              53189  ...  2015-03-14 07:20:00
3101              53193  ...  2015-03-14 18:00:00
3102              53164  ...  2015-03-15 18:30:00
3103              53151  ...  2015-03-16 18:07:00
3104              53168  ...  2015-03-16 21:05:00
3105              53169  ...  2015-03-19 03:25:00
3106              53165  ...  2015-03-20 14:35:00
3107              53188  ...  2015-03-20 21:00:00
3108              53184  ...  2015-03-22 13:44:00
3109              53178  ...  2015-03-23 17:15:00
3110              53182  ...  2015-03-23 20:40:00
3111              53166  ...  2015-03-24 14:45:00
3112              53170  ...  2015-03-24 17:57:00
3113              53185  ...  2015-03-24 23:01:00
3114              53412  ...  2015-03-24 16:35:00
3115              53194  ...  2015-03-26 20:30:00
3116              53186  ...  2015-03-27 14:55:00
3117              53179  ...  2015-03-28 10:30:00
3118              53180  ...  2015-03-28 18:52:00
3119              53190  ...  2015-03-28 16:26:00
3120              53212  ...  2015-03-28 17:32:00
3121              53213  ...  2015-03-28 15:51:00
3122              53181  ...  2015-03-29 20:17:00
3123              53187  ...  2015-03-29 18:36:00
3124              53211  ...  2015-03-30 19:40:00

[37 rows x 10 columns]

In [ ]:
df201503.count()

codigo_ocorrencia           37
codigo_ocorrencia2          37
ocorrencia_classificacao    37
ocorrencia_cidade           37
ocorrencia_uf               37
ocorrencia_aerodromo        21
ocorrencia_dia              37
ocorrencia_hora             37
total_recomendacoes         37
ocorrencia_dia_hora         37
dtype: int64

In [ ]:
df201503.groupby(['codigo_ocorrencia']).count() # Agrupando pelo "codigo_ocorrencia"

In [ ]:
df201503.groupby(['ocorrencia_classificacao']).codigo_ocorrencia.count()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
Name: codigo_ocorrencia, dtype: int64

In [ ]:
df201503.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
dtype: int64

In [ ]:
# Ordem Crescente

df201503.groupby(['ocorrencia_classificacao']).size().sort_values()

ocorrencia_classificacao
INCIDENTE GRAVE     5
ACIDENTE           15
INCIDENTE          17
dtype: int64

In [ ]:
# Ordem Decrescente

df201503.groupby(['ocorrencia_classificacao']).size().sort_values(ascending = False)

ocorrencia_classificacao
INCIDENTE          17
ACIDENTE           15
INCIDENTE GRAVE     5
dtype: int64

In [8]:
# Eventos no ano de 2010 na região Sudeste

filtro1 = df.ocorrencia_dia.dt.year == 2010
filtro2 = df.ocorrencia_uf.isin(['SP','MG','ES','RJ'])
dfsudeste2010 = df.loc[filtro1 & filtro2]
dfsudeste2010

     codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0                40211               40211  ...        12:00:00                   0
2                40351               40351  ...        03:00:00                   0
9                39711               39711  ...        20:00:00                   0
11               40069               40069  ...        14:50:00                   8
16               39809               39809  ...        15:00:00                   0
..                 ...                 ...  ...             ...                 ...
541              43722               43722  ...        11:00:00                   0
544              43548               43548  ...        22:10:00                   0
548              43724               43724  ...        12:00:00                   0
550              43730               43730  ...        18:10:00                   0
551              43975               43975  ...        14:28:00                   0

[228 rows x 9 columns]

In [9]:
dfsudeste2010.groupby(['ocorrencia_classificacao']).size() # Quantas vezes cada "ocorrencia_classificacao" ocorre???

ocorrencia_classificacao
ACIDENTE            40
INCIDENTE          170
INCIDENTE GRAVE     18
dtype: int64

In [10]:
dfsudeste2010.count() # codigo_ocorrencia: 40 + 170 + 18 = 218

codigo_ocorrencia           228
codigo_ocorrencia2          228
ocorrencia_classificacao    228
ocorrencia_cidade           228
ocorrencia_uf               228
ocorrencia_aerodromo        127
ocorrencia_dia              228
ocorrencia_hora             228
total_recomendacoes         228
dtype: int64

In [11]:
dfsudeste2010.groupby(['ocorrencia_classificacao','ocorrencia_uf']).size() # Quantas vezes cada "ocorrencia_classificacao" 
# ocorre em cada "ocorrencia_uf"???

ocorrencia_classificacao  ocorrencia_uf
ACIDENTE                  MG                7
                          RJ                9
                          SP               24
INCIDENTE                 ES                5
                          MG               39
                          RJ               52
                          SP               74
INCIDENTE GRAVE           MG                5
                          RJ                4
                          SP                9
dtype: int64

In [13]:
dfsudeste2010.groupby(['ocorrencia_cidade']).size().sort_values(ascending=False) # Agrupe o número de acidentes, por cidade,
# em ordem decrescente

ocorrencia_cidade
RIO DE JANEIRO           47
SÃO PAULO                33
GUARULHOS                18
BELO HORIZONTE           17
CAMPINAS                 13
MACAÉ                    12
CONFINS                   7
UBERLÂNDIA                5
VITÓRIA                   4
JUIZ DE FORA              4
SÃO JOSÉ DO RIO PRETO     3
SÃO JOSÉ DOS CAMPOS       3
MARÍLIA                   3
ARARAQUARA                2
MONTES CLAROS             2
CAMPOS DOS GOYTACAZES     2
DIVINÓPOLIS               2
IPATINGA                  2
ITANHAÉM                  2
JUNDIAÍ                   2
POÇOS DE CALDAS           2
RIBEIRÃO PRETO            2
SOROCABA                  2
UBERABA                   2
BAURU                     2
AREALVA                   2
BOITUVA                   1
BOCAINA                   1
BOM JESUS DO AMPARO       1
BOM JESUS DO GALHO        1
BEBEDOURO                 1
BRAGANÇA PAULISTA         1
BROTAS                    1
CAJOBI                    1
ARRAIAL DO CABO           1
CAMANDUCAIA               1
TIMÓTEO                   1
ARAÇATUBA                 1
CASIMIRO DE ABREU         1
SANTOS                    1
COROMANDEL                1
OLÍMPIA                   1
RESENDE                   1
POUSO ALEGRE              1
PIRASSUNUNGA              1
PIRACICABA                1
PIACATU                   1
PENÁPOLIS                 1
PARÁ DE MINAS             1
NOVO HORIZONTE            1
COSMÓPOLIS                1
MANGARATIBA               1
LINHARES                  1
SÃO BERNARDO DO CAMPO     1
ITÁPOLIS                  1
IPERÓ                     1
SERRA NEGRA               1
DIAMANTINA                1
AMERICANA                 1
dtype: int64

In [15]:
filtro = dfsudeste2010.ocorrencia_cidade == 'RIO DE JANEIRO'
dfsudeste2010.loc[filtro].total_recomendacoes.sum() # Somar o "total_recomendacoes" que o RIO DE JANEIRO teve

25

In [16]:
filtro1= dfsudeste2010.ocorrencia_cidade == 'RIO DE JANEIRO'
filtro2 = dfsudeste2010.total_recomendacoes > 0
dfsudeste2010.loc[filtro1 & filtro2]

     codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
119              40190               40190  ...        02:35:00                   3
274              41750               41750  ...        19:53:00                   3
326              42250               42250  ...        12:26:00                  19

[3 rows x 9 columns]

In [17]:
dfsudeste2010.groupby(['ocorrencia_cidade']).total_recomendacoes.sum() # Realize a soma do total de recomendações por cidade

ocorrencia_cidade
AMERICANA                 0
ARARAQUARA                0
ARAÇATUBA                 0
AREALVA                   0
ARRAIAL DO CABO           0
BAURU                     0
BEBEDOURO                 0
BELO HORIZONTE            2
BOCAINA                   0
BOITUVA                   1
BOM JESUS DO AMPARO       0
BOM JESUS DO GALHO        1
BRAGANÇA PAULISTA         9
BROTAS                    0
CAJOBI                    0
CAMANDUCAIA               9
CAMPINAS                  0
CAMPOS DOS GOYTACAZES     0
CASIMIRO DE ABREU         0
CONFINS                   0
COROMANDEL                0
COSMÓPOLIS                0
DIAMANTINA                0
DIVINÓPOLIS               0
GUARULHOS                 0
IPATINGA                  0
IPERÓ                     3
ITANHAÉM                  1
ITÁPOLIS                  0
JUIZ DE FORA              0
JUNDIAÍ                   7
LINHARES                  0
MACAÉ                     0
MANGARATIBA               0
MARÍLIA                   0
MONTES CLAROS             0
NOVO HORIZONTE            3
OLÍMPIA                   0
PARÁ DE MINAS             0
PENÁPOLIS                 0
PIACATU                   0
PIRACICABA                0
PIRASSUNUNGA              0
POUSO ALEGRE              0
POÇOS DE CALDAS           0
RESENDE                   8
RIBEIRÃO PRETO            0
RIO DE JANEIRO           25
SANTOS                    0
SERRA NEGRA               0
SOROCABA                  0
SÃO BERNARDO DO CAMPO     2
SÃO JOSÉ DO RIO PRETO     0
SÃO JOSÉ DOS CAMPOS       0
SÃO PAULO                41
TIMÓTEO                   3
UBERABA                   0
UBERLÂNDIA                0
VITÓRIA                   0
Name: total_recomendacoes, dtype: int64

In [18]:
dfsudeste2010.groupby(['ocorrencia_aerodromo'], dropna=False).total_recomendacoes.sum() # O dropna falso faz retornar elementos
# que não são informados

ocorrencia_aerodromo
SBAE     0
SBAQ     0
SBBH     0
SBBP     9
SBBU     0
SBCF     0
SBGL     3
SBGR     0
SBIP     0
SBJD     7
SBJR     3
SBKP     0
SBME     0
SBMK     0
SBML     0
SBMT    27
SBPC     0
SBPR     1
SBRJ    19
SBRP     0
SBSJ     0
SBSP     0
SBSR     0
SBUL     0
SBUR     0
SBVT     0
SDAM     0
SDOI     1
SDPW     0
SDPY     0
SNDT     0
SNDV     0
SNXT     0
NaN     45
Name: total_recomendacoes, dtype: int64

In [19]:
dfsudeste2010.groupby(['ocorrencia_cidade']).total_recomendacoes.sum()

ocorrencia_cidade
AMERICANA                 0
ARARAQUARA                0
ARAÇATUBA                 0
AREALVA                   0
ARRAIAL DO CABO           0
BAURU                     0
BEBEDOURO                 0
BELO HORIZONTE            2
BOCAINA                   0
BOITUVA                   1
BOM JESUS DO AMPARO       0
BOM JESUS DO GALHO        1
BRAGANÇA PAULISTA         9
BROTAS                    0
CAJOBI                    0
CAMANDUCAIA               9
CAMPINAS                  0
CAMPOS DOS GOYTACAZES     0
CASIMIRO DE ABREU         0
CONFINS                   0
COROMANDEL                0
COSMÓPOLIS                0
DIAMANTINA                0
DIVINÓPOLIS               0
GUARULHOS                 0
IPATINGA                  0
IPERÓ                     3
ITANHAÉM                  1
ITÁPOLIS                  0
JUIZ DE FORA              0
JUNDIAÍ                   7
LINHARES                  0
MACAÉ                     0
MANGARATIBA               0
MARÍLIA                   0
MONTES CLAROS             0
NOVO HORIZONTE            3
OLÍMPIA                   0
PARÁ DE MINAS             0
PENÁPOLIS                 0
PIACATU                   0
PIRACICABA                0
PIRASSUNUNGA              0
POUSO ALEGRE              0
POÇOS DE CALDAS           0
RESENDE                   8
RIBEIRÃO PRETO            0
RIO DE JANEIRO           25
SANTOS                    0
SERRA NEGRA               0
SOROCABA                  0
SÃO BERNARDO DO CAMPO     2
SÃO JOSÉ DO RIO PRETO     0
SÃO JOSÉ DOS CAMPOS       0
SÃO PAULO                41
TIMÓTEO                   3
UBERABA                   0
UBERLÂNDIA                0
VITÓRIA                   0
Name: total_recomendacoes, dtype: int64

In [20]:
filtro = dfsudeste2010.total_recomendacoes > 0
dfsudeste2010.loc[filtro].groupby(['ocorrencia_cidade']).total_recomendacoes.sum()

ocorrencia_cidade
BELO HORIZONTE            2
BOITUVA                   1
BOM JESUS DO GALHO        1
BRAGANÇA PAULISTA         9
CAMANDUCAIA               9
IPERÓ                     3
ITANHAÉM                  1
JUNDIAÍ                   7
NOVO HORIZONTE            3
RESENDE                   8
RIO DE JANEIRO           25
SÃO BERNARDO DO CAMPO     2
SÃO PAULO                41
TIMÓTEO                   3
Name: total_recomendacoes, dtype: int64

In [26]:
# Total de recomendações agrupando por cidade e por mês

dfsudeste2010.loc[filtro].groupby(['ocorrencia_cidade',dfsudeste2010.ocorrencia_dia.dt.month]).total_recomendacoes.sum()

ocorrencia_cidade      ocorrencia_dia
BELO HORIZONTE         2                  1
                       3                  1
BOITUVA                7                  1
BOM JESUS DO GALHO     12                 1
BRAGANÇA PAULISTA      11                 9
CAMANDUCAIA            7                  9
IPERÓ                  1                  3
ITANHAÉM               9                  1
JUNDIAÍ                5                  5
                       6                  2
NOVO HORIZONTE         7                  3
RESENDE                4                  8
RIO DE JANEIRO         4                  3
                       7                  3
                       8                 19
SÃO BERNARDO DO CAMPO  1                  2
SÃO PAULO              1                  8
                       2                 14
                       6                  2
                       11                 6
                       12                11
TIMÓTEO                2                  3
Name: total_recomendacoes, dtype: int64