<a href="https://colab.research.google.com/github/Edivaldo16/projeto_etl/blob/main/Projeto_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Realizando extração de dados - Parte 1

In [2]:
import pandas as pd

In [ ]:
# Caso o comando "pd.read_csv('nome_arquivo') o compilador do jupyter dará erro  
# Unicodecomo pode ser visto com a execução do código abaixo

In [ ]:
dataframe = pd.read_csv('Ocorrencia_mod.csv', sep = ";")

In [ ]:
# Para correção do erro faz-se necessário digitar o seguinte comando:
# dataframe = pd.read_csv('nome_arquivo.csv', encoding='latin-1')
# Para mais dicas de correção do erro ver site:
# https://stackoverflow.com/questions/5552555/unicodedecodeerror-invalid-continuation-byte

In [ ]:
# Observações: Por "default" a biliboteca pandas tenta localizar colunas
# através do separador "," e isso às vezes acaba impossibilitando a correta
# visualização da tabela como pode ser observado a seguir

In [19]:
df = pd.read_csv('Ocorrencia_mod.csv',encoding='latin-1')
df

     codigo_ocorrencia;codigo_ocorrencia2;ocorrencia_classificacao;ocorrencia_cidade;ocorrencia_uf;ocorrencia_aerodromo;ocorrencia_dia;ocorrencia_hora;total_recomendacoes
0     40211;40211;INCIDENTE;RIO DE JANEIRO;RJ;****;0...
1     40349;40349;INCIDENTE;BELÉM;PA;SBBE;03/01/2010...
2     40351;40351;INCIDENTE;RIO DE JANEIRO;RJ;SBRJ;0...
3     39527;39527;ACIDENTE;LUCAS DO RIO VERDE;MT;***...
4     40324;40324;INCIDENTE;PELOTAS;RS;SBPK;05/01/20...
...                                                 ...
6109  80245;80245;INCIDENTE;RECIFE;PE;SBRF;15/08/202...
6110  80247;80247;INCIDENTE;PORTO VELHO;RO;SBPV;16/0...
6111  80251;80251;INCIDENTE;BELÉM;PA;SBBE;17/08/2021...
6112  80257;80257;ACIDENTE;DOM AQUINO;MT;****;18/08/...
6113  80259;80259;INCIDENTE;CAMPINAS;SP;SBKP;18/08/2...

[6114 rows x 1 columns]

In [ ]:
# Para correção desse problema coloca-se o separador igual a ";"

In [17]:
df = pd.read_csv('Ocorrencia_mod.csv', sep = ";",encoding='latin-1')
df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
6109              80245  ...                    0
6110              80247  ...                    0
6111              80251  ...                    0
6112              80257  ...                    0
6113              80259  ...                    0

[6114 rows x 9 columns]