<a href="https://colab.research.google.com/github/Edivaldo16/projeto_etl/blob/main/Limpeza_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Limpeza de dados - Parte 3

In [1]:
import pandas as pd

In [2]:
# Importando arquivos diretamente do computador
from google.colab import files
arq = files.upload()

Saving Ocorrencia_mod2.csv to Ocorrencia_mod2.csv

In [23]:
df = pd.read_csv('Ocorrencia_mod2.csv', sep = ";", parse_dates=['ocorrencia_dia'], dayfirst = True, encoding='latin-1')

In [ ]:
# Objetivo desse lab: limpar os dados "**" da coluna "ocorrencia_uf"
# "###!", "####", "****" e "*****" da coluna "ocorrencia_aerodromo"
# NULL da coluna "ocorrencia_hora"

In [18]:
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [6]:
# Na coluna aerodromo onde estiver "****" filtre nela mesma.
df.loc[df.ocorrencia_aerodromo == '****',['ocorrencia_aerodromo']] = pd.NA

In [19]:
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [ ]:
df.loc[df.ocorrencia_aerodromo == '****',['ocorrencia_aerodromo']]

In [24]:
df.replace(['**','###!','####','****','*****','NULL'], pd.NA, inplace=True)

In [25]:
df.isna() # Verifica o que é "dado" e o campo NA

      codigo_ocorrencia  ...  total_recomendacoes
0                 False  ...                False
1                 False  ...                False
2                 False  ...                False
3                 False  ...                False
4                 False  ...                False
...                 ...  ...                  ...
6109              False  ...                False
6110              False  ...                False
6111              False  ...                False
6112              False  ...                False
6113              False  ...                False

[6114 rows x 9 columns]

In [26]:
df.isna().sum() # Soma dos resultados não informados

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2456
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [27]:
# Pode usar também "df.isnull"
df.isnull()

      codigo_ocorrencia  ...  total_recomendacoes
0                 False  ...                False
1                 False  ...                False
2                 False  ...                False
3                 False  ...                False
4                 False  ...                False
...                 ...  ...                  ...
6109              False  ...                False
6110              False  ...                False
6111              False  ...                False
6112              False  ...                False
6113              False  ...                False

[6114 rows x 9 columns]

In [28]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2456
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [30]:
# Para atribuir um valor aos dados não informados pode-se usar: "df.fillna":

df.fillna(10, inplace=True)

In [31]:
df.isnull().sum()

codigo_ocorrencia           0
codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
total_recomendacoes         0
dtype: int64

In [32]:
# Alterando alguns dados não informados:

df.replace([10], pd.NA, inplace=True)

In [33]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2456
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            2
dtype: int64

In [35]:
df.fillna(value={'total_recomendacoes':10}, inplace=True) # Alterando valores (values) de determinadas colunas

In [36]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2456
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64