<a href="https://colab.research.google.com/github/Edivaldo16/projeto_etl/blob/main/Limpeza_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Limpeza de dados - Parte 2

In [1]:
import pandas as pd

In [2]:
# Importando arquivos diretamente do computador
from google.colab import files
arq = files.upload()

Saving Ocorrencia_mod2.csv to Ocorrencia_mod2.csv

In [25]:
df = pd.read_csv('Ocorrencia_mod2.csv', sep = ";", parse_dates=['ocorrencia_dia'], dayfirst = True, encoding='latin-1')

In [5]:
df.codigo_ocorrencia.is_unique # A coluna "codigo_ocorrencia" é única???

True

In [ ]:
# Obsservação1: O professor deixou como dica que usasse uma coluna única
df.set_index('codigo_ocorrencia') # Estou setando a coluna "codigo_ocorrencia" como index

In [ ]:
# Observação2: O índice só é setado quando executado esse comando. Caso queira que a 
# coluna escolhida seja setada comoindex no arquivo principal precisa usar o seguinte 
# comando: df.set_index('coluna', inplace=True)

In [26]:
df.set_index('codigo_ocorrencia',inplace=True)

In [27]:
df.head()

                   codigo_ocorrencia2  ... total_recomendacoes
codigo_ocorrencia                      ...
40211                           40211  ...                   0
40349                           40349  ...                   0
40351                           40351  ...                   0
39527                           39527  ...                   0
40324                           40324  ...                   0

[5 rows x 8 columns]

In [ ]:
# Observação3: Qual é a vantagem de trocar o índice (label) do dataframe. Poder usar diretamente os
# dados da coluna setada como índice para localizar um determinado dado

In [15]:
df.loc[40351]

codigo_ocorrencia2                        40351
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                RIO DE JANEIRO
ocorrencia_uf                                RJ
ocorrencia_aerodromo                       SBRJ
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        03:00:00
total_recomendacoes                           0
Name: 40351, dtype: object

In [29]:
# Observação4: Para resetar o arquivo e voltar o original usar o seguinte comando:
df.reset_index(drop=True, inplace=True)

In [17]:
df.head()

   codigo_ocorrencia2  ... total_recomendacoes
0               40211  ...                   0
1               40349  ...                   0
2               40351  ...                   0
3               39527  ...                   0
4               40324  ...                   0

[5 rows x 8 columns]

## Alterando valores da tabela

In [30]:
df.loc[0,'ocorrencia_aerodromo'] = '' # Atribuindo um valor nulo a um dado  
df.head(1)

   codigo_ocorrencia2  ... total_recomendacoes
0             40211.0  ...                 0.0

[1 rows x 8 columns]

In [32]:
# Alterando dados da linha inteira
df.loc[0] = 20
df.head(1)

   codigo_ocorrencia2  ... total_recomendacoes
0                20.0  ...                20.0

[1 rows x 8 columns]

In [33]:
# Alterando dados de uma coluna inteira
df.loc[:,'ocorrencia_classificacao'] = 40
df.head()

   codigo_ocorrencia2  ...  total_recomendacoes
0                20.0  ...                 20.0
1             40349.0  ...                  0.0
2             40351.0  ...                  0.0
3             39527.0  ...                  0.0
4             40324.0  ...                  0.0

[5 rows x 8 columns]

In [34]:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf
df.head()

   codigo_ocorrencia2  ...  ocorrencia_uf_bkp
0                20.0  ...                 20
1             40349.0  ...                 PA
2             40351.0  ...                 RJ
3             39527.0  ...                 MT
4             40324.0  ...                 RS

[5 rows x 9 columns]

## Usando filtros na tabela

In [38]:
# Exemplo: Na coluna "ocorrencia_uf", todas as vezes que a cidade SP for mencionada, 
# atribua o valor "GRAVE" na coluna "ocorrencia_classificacao"

df.loc[df.ocorrencia_uf == 'SP',['ocorrencia_classificacao']] = 'GRAVE'
df.loc[df.ocorrencia_uf == 'SP']

      codigo_ocorrencia2  ... ocorrencia_uf_bkp
11               40069.0  ...                SP
16               39809.0  ...                SP
18               39828.0  ...                SP
26               39847.0  ...                SP
27               39768.0  ...                SP
...                  ...  ...               ...
6084             80234.0  ...                SP
6085             80208.0  ...                SP
6104             80238.0  ...                SP
6108             80244.0  ...                SP
6113             80259.0  ...                SP

[1464 rows x 9 columns]